{% extends 'base.html' %}
{% load static %}
{% block content %}
    
            <section class="section-1 ">
                <div class="p-text" id="about">
                    <h1 class="h-t">ກ່ຽວກັບເຮົາ</h1>
                </div>
                <div class="row ">
                    <div class="pray " data-aos="fade-right ">
                        <img src="{{ about.profile_img.url }}">
                    </div>
                    <div class="panel text-left " data-aos="fade-left ">
                        <h1 class="pt-4 ">{{ about.heading }}</h1>
                        <p>
                            {{ about.description }}
                        </p>
                    </div>
                </div>
            </section>
            <div class="b-dy">
                <div class="p-text test">
                    <h1 class="h-t" id="t-hid">ເປົ້າໝາຍຂອງການສຶກສາ</h1>
                    <div class="container2">
                        <div class="box">
                            <div class="textq">
                                <p>ປູກຝັງຂອງວິສະວະກອນໄອທີຜູ້ທີ່ຈະຂັບເຄື່ອນວົງການໄອທີໃນອະນາຄົດຂອງ ສປປ ລາວ</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="textq">
                                <p>ກາຍໄປນັກວິສະວະກອນຊອບແວ (ນັກຂຽນໂປຣແກມ), ວິສະວະກອນຄອມພິວເຕີ, ແລະ ວິສະວະກອນລະບົບເຄື່ອຂ່າຍ</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="textq">
                                <p>ປູກຝັງຜູ້ມີພອນສະຫວັນດ້ວຍການແຂ່ງຂັນລະດັບສາກົນ</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="p-text">
                    <h1 class="h-t h2">ວິຊາຫຼັກ</h1>
                    <div class="container2">
                        <div class="c-lom">
                            <div class="box2">
                                <div class="content2">
                                    <div class="text">
                                        <p>ພາສາໂປຣແກມ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box2">
                                <div class="content2">
                                    <div class="text">
                                        <p>ໂຄງສ້າງຂອງຄອມພິວເຕີ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-lom">
                            <div class="box2">
                                <div class="content2">
                                    <div class="text">
                                        <p>ການພັດທະນາຊອບແວ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box2">
                                <div class="content2">
                                    <div class="text">
                                        <p>ການວິເຄາະລະບົບ ແລະ ໂຄງສ້າງຂໍ້ມູນ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-lom">
                            <div class="box2">
                                <div class="content2">
                                    <div class="text">
                                        <p>ຖານຂໍ້ມູນ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box2">
                                <div class="content2">
                                    <div class="text">
                                        <p>ອອກແບບ ແລະ ພັດທະນາເວັບໄຊ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-text">
                    <h1 class="h-t h2">ສະຖານະພາບການຈ້າງງານ ແລະ ສະຖານະພາບການເຮັດວຽກຫຼັງຈາກຮຽນຈົບ</h1>
                </div>
                <div class="opp2">
                    <p>ຖ້າຫາກທ່ານຈົບຈາກພາກວິຊານີ້, ທ່ານຈະສາມາດເຮັດວຽກໃນຂົງເຂດຕ່າງໆເຊັ່ນເປັນນັກຂຽນຊອບແວ, ພະນັກງານບໍລິການເຄືອຂ່າຍຄອມພິວເຕີ ແລະ ຜູ້ປະກອບການຄອມພິວເຕີ. ແລະທ່ານຍັງສາມາດຮຽນຮູ້ການອອກແບບລະບົບຄອມພິວເຕີ ແລະ ການພັດທະນາໂດຍຜ່ານຫຼັກສູດປະລິນຍາໂທ ແລະ ປະລິນຍາເອກ.
                    </p>
                </div>

                
                
                </section>
    
            </div>
            {% endblock %}